.title-signup{
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 15px;
    font-size: 40px;
    color: #373867;
    font-weight: bold;
    margin-left: 50px;
}
.f-signup{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 30px;
    margin-left: 60px;
    border: 1px solid #373867;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #000;
}
.sign-up{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
}
.sign-up label{
    display: flex;
    padding: 10px 0px 10px 0px;
    color: #373867;
    font-weight: bold;
}
.sign-up input{
    display: flex;
    width: 100%;
    padding: 5px;
}
.sign-up input[type="date"]{
    margin-right: 57px;
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 50px;
    align-self: center;
    width: 100%;
}
#sign-up{
    text-align: center;
    background-color: #AACE9B;
    border: black solid 1px;
    border-radius: 5px;
    color: #373867;
    padding: 10px 30px;
    box-shadow: 3px 3px 10px;
}
#sign-up:hover{
    background-color: #37781c;
    color: #fff;
    transition-duration: 0,4s;
}
#sign-up:active{
    background-color: #265213;
    transform: translateY(4px);
}
.error{
    padding: 5px;
    font-size: 10px;
    color: red;
    font-weight: bold;
}
input[type=text].input-error, input[type=password].input-error, input[type=number].input-error, input[type=date].input-error{
    border: red 1px solid;
}
.error-view{
    display: none;
}