body{
    margin: 0;
}
.header{
    width: 1224px;
    height: 80px;
    background-color: #46A37C;
    margin: 0;
    overflow: hidden;
    margin-left: 125px;
    position: absolute;

}
#tittle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #373867;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}
.header-logo{
    position: relative;
    margin: 0;
    padding: 0;
    width: 130px;
    height: 80px;
    overflow: hidden;
    background-color: #AACE9B;
    display: block;
}
#r-logo{
    padding-left: 15px;
    width: 100px;
    height: 80px;
}
.nav{
    position: fixed;
    background-color:#373867;
    width: 130px;
    height: 100%;
}
#list{
    list-style: none;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#list li{
    padding-bottom: 20px;
    padding-left: 15px;
}
#list a{
    color: #fff ;
    text-decoration: none;
    font-size: 15px;
}
.margin{
    margin-left: 140px;
}
.home{
    padding-left: 50px;
    width: 500px;
    display: inline-block;
    position: relative;
    bottom: 100px;
}
.home h1{
    color: #373867;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding-top: 5px;
}
#subtittle{
    position: relative;
    color: #B4AFAF;
    padding-top: 0;
    margin-top: 0;  
    display: inline;
    bottom: 15px;

}
#first-p{
    display: inline-block;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #373867;
}
.img-home{
    display: inline-block;
    margin-left: 200px;
    margin-top: 40px;
}
.box{
    width: 400px;
    height: 200px;
    margin-left: 130px;
    margin-bottom: 30px;
    margin-top: 100px;
    background-color: #BFC2C0;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 5px 5px 10px;
}
.box h3{
    text-align: center;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #46A37C;
    text-shadow: 3px 3px 10px grey;
    text-decoration: underline black;
}
.box p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #373867;
}
.caract{
    margin-left: 170px;
    margin-top: 100px;
    display: inline-block;
    width: 290px;
    margin-right: 130px;
    border: solid black;
}
.caract h3{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.caract img{
    width: 250px;
    padding-left: 20px;
}
.caract p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 12px;
}





.footer{
    width: 200px;
    margin-top: 50px;
    margin-left: 40%;
}
#logo{
    width: 30px;
    height: 30px;
}
.copy{
    width: 500px;
    margin-left: 34%;
    margin-top: 45px;
}