body{
    margin: 0;
}
.margin{
    margin-left: 140px;
}
header{
    background-color: #46A37C;
    height: 100px;
    width: 100%;
}
.r-logo {
    position: fixed;
    width: 10%;
    height: 100px;
    top: 0;
    margin-bottom: 70px;
}
#title{
    font-family: "Roboto", sans-serif;
    color: #373867;
    padding-left: 13%;
    padding-top: 35px;
    font-weight: bold;
    font-size: 20px;
}
.nav{
    position: fixed;
    background-color:#373867;
    width: 10%;
    height: 100%;
}
#list{
    list-style: none;
    padding-left: 30px;
    padding-top: 50px;
    font-family: "Roboto", sans-serif;

}
#list li{
    padding-bottom: 20px;
}
#list a{
    color: #fff ;
    text-decoration: none;
    font-size: 15px;
}
#list a:hover{
    color: red;
}
.home{
    padding-left: 70px;
    width: 500px;
    display: inline-block;
}
.home h1{
    position: relative;
    color: #373867;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 3px 3px 10px;
    bottom: 220px;
    left: 50px;
}
#subtittle{
    color: #B4AFAF;  
    font-family: "Roboto", sans-serif;
    position: relative;
    font-weight: bold;
    bottom: 200px;
    left: 50px;
}
#first-p{
    position: relative;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    color: #373867;
    bottom: 150px;
    left: 50px;
}
.img-home{
    display: inline-block;
    margin-left: 200px;
}
#img-h1{
    margin-top: 100px;
}
.box{
    width: 400px;
    height: 200px;
    margin-left: 130px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #BFC2C0;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 5px 5px 10px;
}
.box h3{
    text-align: center;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    color: #46A37C;
    text-shadow: 3px 3px 10px grey;
    text-decoration: underline black;
    font-weight: bold;
    font-size: 20px;
}
.box p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #373867;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    font-size: 16px;
}
.caract{
    margin-left: 170px;
    margin-top: 30px;
    display: inline-block;
    width: 290px;
    height: 290px;
    margin-right: 130px;
    border: solid black;
    border-radius: 100%;
    background-color: #46A37C;
    box-shadow: 5px 5px 10px;
}
.caract h3{
    text-align:center;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #373867;
    text-decoration: underline wavy;
    padding-top: 40px;
    font-size: 19px;
    font-weight: bold;
}
.caract img{
    width: 200px;
    height: 100px;
    padding-left: 50px;
    padding-top: 35px;
}
.caract p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 8px;
    padding-top: 5px;
}
.form-contact{
    font-family: "Roboto", sans-serif;
    margin-left: 50px;
    margin-top: 50px;
    color: #373867;
}
.form-contact h3{
    margin-bottom: 50px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
    text-shadow: 3px 3px 10px;
}
.form-group{
    padding-bottom: 15px;
}
.form-contact label{
    display: block;
    padding-left: 5px;
    padding-bottom: 5px;
    text-decoration: underline;
    color: #373867;
    display: inline-block;
}
.form-contact input[type="text"]{
    padding: 10px;
    width: 1100px;
    border: #373867 solid;
    border-radius: 10px;
}
#f-name{
    width: 400px;
    margin-right: 60px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
}
#l-name{
    width: 400px;
    margin-left: 16px;
    display: inline-block;
}
.form-contact input[type="number"]{
    padding: 8px;
    width: 1100px;
    border: #373867 solid;
    border-radius: 10px;
}
.form-contact select{
    padding: 10px;
    width: 1125px;
    border: #373867 solid;
    border-radius: 10px;
}
.form-contact textarea{
    padding: 8px;
    width: 1100px;
    border: #373867 solid;
    border-radius: 10px;
}
.form-contact input[type="submit"]{
    padding: 10px 15px;
}
#submit{
    margin-right: 10px;
    background-color: #AACE9B;
    border: black solid 1px;
    border-radius: 5px;
    color: #373867;
    margin-left: 3px;
    box-shadow: 3px 3px 10px;
}
#clear{
    margin-right: 10px;
    background-color: #fff;
    border: solid black 1px;
    border-radius: 5px;
    color: #373867;
    margin-left: 3px;
    box-shadow: 3px 3px 10px;
}
#submit:hover{
    background-color: #37781c;
    color: #fff;
    transition-duration: 0,4s;
}
#submit:active{
    background-color: #265213;
    transform: translateY(4px);
}
#clear:hover{
    background-color: #992121;
    color: #fff;
    transition-duration: 0,4s;
}
#clear:active{
    background-color: #711919;
    transform: translateY(4px);
}
.wwa{
    width: 700px;
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 5px 5px 10px;
}
.wwa h3{
    padding-top: 15px;
    padding-left: 15px;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}
.wwa p {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
}
.lists{
    width: 25%;
    display: inline-block;
    margin-left: 90px;
    font-family: "Roboto", sans-serif;

}
.lists h2{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}
.lists li{
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 25px;
}
.hr{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 90%;
    height: 2px;
    background-color: black;
}
.hr-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    width: 30%;
    height: 2px;
    background-color: black;
}
.footer{
    width: 200px;
    margin-top: 70px;
    margin-left: 38%;
}
.footer a{
    text-decoration: none;
}
.logo{
    width: 30px;
    height: 30px;
}
.copy{
    width: 500px;
    margin-left: 33%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
}