.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-left: 25px;
    font-family: "Roboto", sans-serif;
}

.footer img{
    max-width: 40px;
    margin-right: 25px;
}

.copy{
    text-align: center;
    padding-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}