.header{
    display: flex;
    flex: 1 1 auto;
    height: 10%;
    background-color: #46A37C;
}

.r-logo{
    max-width: 150px;
    display: flex;
}

.header p{
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #373867;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
