body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.division{
    padding: 25px 0px 12px 0px;
    border-bottom: 1px solid black;  
}
@media (max-width: 820px){
    body{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: none;
    }
    
}