body{
    font-family: "Roboto", sans-serif;
}
.division{
    padding: 25px 0px 12px 0px;
    border-bottom: 1px solid black;  
}
.container{
    display: flex;
    justify-content: center;
}

@media (max-width: 820px){
    .nav{
        display: none;
    }
}
@media (max-width: 480px){
    .container{
        flex-direction: column;
    }
    .form-group{
        flex-direction: column;
    }
}
@media (min-width: 820px){
    .container-logo .menu-logo{
        display: none;
    }
}